name: CI-CD Pipeline

on:
    push:
          branches:
                  - main

          jobs:
              deploy:
                    runs-on: ubuntu-latest

                          steps:
                                  - name: Checkout code
                                            uses: actions/checkout@v4

                                                    - name: SSH into EC2 and deploy
                                                              uses: appleboy/ssh-action@v1.0.3
                                                                        with:
                                                                                    host: ${{ secrets.EC2_HOST }}
                                                                                                username: ${{ secrets.EC2_USER }}
                                                                                                            key: ${{ secrets.EC2_SSH_KEY }}
                                                                                                                        script: |
                                                                                                                                      docker rm -f python-app || true
                                                                                                                                                  docker build -t python-app .
                                                                                                                                                              docker run -d -p 5000:5000 --name python-app python-app
